.platform {
    position: relative;
    max-height: 100%;

    > video {
        top: auto;
    }
}

.booth,
.car,
.agent,
.cinema,
.billboard,
.brand,
.hall-logo {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 20%;
}

.brand,
.car,
.cinema,
.billboard,
.booth-tv,
.booth-logo,
.booth-car,
.billboard-left-top
.billboard-left-middle
.billboard-left-bottom,
.hall-logo {
    &:before {
        content: '';
        display: block;
    }

    * {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

//-------------------------------------------------------
//  BRANDS
//-------------------------------------------------------
.brand-1,
.brand-2,
.brand-3 {
    background: rgba(#fc0, .2);

    &:before {
        padding-top: 56.25%;
    }
    img {
        object-fit: contain;
    }
}
.brand-1 {
    left: 11%;
    top: 52.2%;
    width: 4%;
}
.brand-2 {
    left: 24.4%;
    top: 8%;
    width: 5.6%;
}
.brand-3 {
    left: 80.2%;
    top: 6%;
    width: 8%;
}


//-------------------------------------------------------
//  CINEMA
//-------------------------------------------------------
.cinema {
    top: 19%;
    left: 50%;
    width: 17%;
    margin-left: -8.5%;

    &:before {
        padding-top: 56.25%;
    }
}

.billboard-left-top {
    width: 5.85%;
    height: 19.1%;
    left: 18.5%;
    top: 22.2%;
}
.billboard-left-middle {
    width: 6.25%;
    height: 20.8%;
    left: 10.1%;
    top: 23.85%;
}
.billboard-left-bottom {
    width: 6.9%;
    height: 22.7%;
    left: 1.1%;
    top: 26%;
}
.billboard-right-top {
    width: 5.85%;
    height: 19.1%;
    right: 18.5%;
    top: 22.2%;
}
.billboard-right-middle {
    width: 6.25%;
    height: 20.8%;
    right: 10.1%;
    top: 23.85%;
}
.billboard-right-bottom {
    width: 6.9%;
    height: 22.7%;
    right: 1.1%;
    top: 26%;
}

//-------------------------------------------------------
//  BOOTHS
//-------------------------------------------------------
.booth {
    background-color: rgba(#007bff,.2);
}
.platform-hall {
    .booth-logo {
        transform: scale(.8);
    }
    .booth-1,
    .booth-2 {
        width: 21.5%;
        height: 18%;
        bottom: 17%;

        .booth-logo { width: 27%; }

        .booth-tv {
            width: 21.5%;
            top: 40%;
            left: 71%;
        }
        .booth-car { top: 58%; }
        .booth-car-4,
        .booth-car-5 {
            top: 76%;
        }
    }
    .booth-1 {
        left: 5%;

        .booth-logo { left: 43.5%; }
    }
    .booth-2 {
        left: 74%;

        .booth-logo {
            right: 45.5%;
            left: auto;
        }
        .booth-tv { left: 55.5%; }
    }
}

.booth-tv,
.booth-logo {
    background-color: var(--dark);
    position: absolute;
    width: 25%;
    top: 51%;
    left: 67%;

    &:before {
        padding-top: 56.25%;
    }
}
.booth-logo {
    // background-color: transparent;
    width: 46%;
    top: 0%;
    left: 29%;
    // transform: scale(0.8);

    img {
        object-fit: contain;
    }
}
.booth-car {
    width: 12%;
    top: 66%;
}
.booth-car-1 { left: 18%; }
.booth-car-2 { left: 38%; }
.booth-car-3 { left: 58%; }
.booth-car-4,
.booth-car-5 {
    width: 15%;
    top: 79%;
    left: 10%
}
.booth-car-5 { left: 30%; }

//-------------------------------------------------------
//  HALL > 6 BOOTHS
//-------------------------------------------------------
.hall-6,
.hall-7 {
    .booth-3,
    .booth-4,
    .booth-7 {
        width: 16.5%;
        height: 15%;
        bottom: 33%;

        .booth-logo {
            width: 35%;
        }

        .booth-tv {
            width: 22.5%;
            top: 48%;
            left: 69%;
        }
    }
    .booth-3 {
        left: 22%;
        .booth-logo { left: 38.5%; }
    }
    .booth-4 {
        left: 61.35%;
        .booth-logo { right: 38.5%; }
        .booth-tv { left: 61.5%; }
    }

    .booth-5,
    .booth-6 {
        width: 12.5%;
        height: 14%;
        bottom: 43%;
    }
    .booth-5 { left: 36%; }
    .booth-6 { left: 51.35%; }

    .booth-7 {
        left: 42%;
        top: 55.1%;
        height: 16%;

        .booth-car-1,
        .booth-car-2,
        .booth-car-3 {
            top: 65%;
        }
        .booth-tv {
            left: 64.5%;
            top: 45.2%;
            width: 24%;
        }
    }
}

.hall-7 {
    .booth-1,
    .booth-2 {
        bottom: 16.8%;
    }
    .booth-5,
    .booth-6 {
        .booth-logo {
            top: 1%;
        }
    }
    .booth-7 {
        .booth-logo {
            left: 31%;
        }
    }
}

.hall-8 {
    .booth-1,
    .booth-2 {
        .booth-logo {
            left: 44.5%;
            top: 1%;
        }
    }
    .booth-2 {
        .booth-logo {
            left: 26.5%;
            right: auto;
        }
    }

    .booth-3,
    .booth-4 {
        left: 32%;
        height: 16%;
        width: 16.5%;
        bottom: 28.8%;
        z-index: 1;

        .booth-logo {
            top: .8%;
            left: 32.5%;
            width: 35.5%;
        }

        .booth-tv {
            left: 67%;
            top: 45%;
            width: 23%;
        }
    }
    .booth-4 {
        left: 52%;

        .booth-logo {
            left: 29.5%;
        }

        .booth-tv {
            left: 63%;
        }
    }

    .booth-5,
    .booth-6 {
        width: 14.8%;
        height: 14.2%;
        bottom: 38%;
        left: 17%;

        .booth-logo {
            left: 39.5%;
            width: 38.5%;
        }
        .booth-tv {
            left: 72%;
            top: 50%;
            width: 23%;
        }
    }
    .booth-5 {
        left: 17%;
    }
    .booth-6 {
        left: 68.35%;

        .booth-logo {
            left: 21.5%;
        }

        .booth-tv {
            left: 58%;
        }
    }

    .booth-7,
    .booth-8 {
        width: 12.5%;
        height: 14%;
        bottom: 43%;
    }
    .booth-7 { left: 36%; }
    .booth-8 { left: 51.35%; }
}

.hall-9 {
    .booth-3,
    .booth-4,
    .booth-5 {
        width: 16.5%;
        height: 15.5%;
        bottom: 31%;

        .booth-logo {
            width: 35%;
        }

        .booth-tv {
            width: 22.5%;
            top: 46%;
            left: 66.8%;
        }
    }
    .booth-3 {
        left: 22%;
        .booth-logo { left: 33.5%; }
    }
    .booth-4 {
        left: 61.35%;

        .booth-logo { left: 32.5%; }
        .booth-tv   { left: 65.5%; }
    }
    .booth-5 {
        left: 42%;
        top: 55.1%;
        height: 16%;

        .booth-logo { left: 31.5%; }

        .booth-car-1,
        .booth-car-2,
        .booth-car-3 {
            top: 65%;
        }
        .booth-tv {
            left: 64.5%;
            top: 45.2%;
            width: 24%;
        }
    }

    .booth-6,
    .booth-7,
    .booth-8,
    .booth-9 {
        width: 12.5%;
        height: 14%;
        bottom: 45.2%;

        .booth-logo {
            width: 46%;
            top: 2%;
            left: 31.5%;
        }
    }
    .booth-6 {
        left: 22%;

        .booth-logo { left: 32.5%; }
        .booth-tv   { left: 68%; }
    }
    .booth-7 {
        left: 36%;

        .booth-logo { left: 32.5%; }
        .booth-tv   { left: 68%; }
    }
    .booth-8 {
        left: 51.35%;

        .booth-logo { left: 23%; }
        .booth-tv   {
            left: 63.2%;
            top: 52%;
        }
    }
    .booth-9 {
        left: 65.5%;

        .booth-logo { left: 23%; }
        .booth-tv   {
            left: 63.2%;
            top: 52%;
        }
    }
}

.platform-hall-single {
    .hall-logo {
        width: 6%;
        left: 47.2%;
        top: 74.5%;

        img {
            object-fit: cover;
        }

        &:before {
            padding-top: 65%;
        }
    }
}

.platform-hall-single.hall-6 {
    .car {
        width: 20%;
        top: 51%;
    }
    .booth-1 .car {
        left: 40%
    }
    .booth-2 .car {
        left: 32%
    }
    .booth-3 .car {
        left: 38%;
        top: 58%;
    }
    .booth-4 .car {
        left: 38%;
        top: 58%;
    }
    .booth-5 .car {
        left: 36%;
        top: 59%;
    }
    .booth-6 .car {
        left: 40%;
        top: 60%;
    }
}
.platform-hall-single.hall-7 {
    .car {
        width: 20%;
        top: 51%;
    }
    .booth-1 .car {
        left: 40%
    }
    .booth-2 .car {
        left: 32%
    }
    .booth-3 .car {
        left: 38%;
        top: 58%;
    }
    .booth-4 .car {
        left: 38%;
        top: 58%;
    }
    .booth-5 .car {
        left: 36%;
        top: 59%;
    }
    .booth-6 .car {
        left: 40%;
        top: 60%;
    }
    .booth-7 .car {
        left: 36%;
        top: 59%;
    }
}
.platform-hall-single.hall-8 {
    .car {
        width: 20%;
        top: 51%;
    }
    .booth-1 .car {
        left: 40%
    }
    .booth-2 .car {
        left: 32%
    }
    .booth-3 .car {
        left: 38%;
        top: 58%;
    }
    .booth-4 .car {
        left: 38%;
        top: 58%;
    }
    .booth-5 .car {
        left: 36%;
        top: 59%;
    }
    .booth-6 .car {
        left: 40%;
        top: 60%;
    }
    .booth-7 .car {
        left: 36%;
        top: 59%;
    }
    .booth-8 .car {
        left: 36%;
        top: 59%;
    }
}
.platform-hall-single.hall-9 {
    .car {
        width: 20%;
        top: 51%;
    }
    .booth-1 .car {
        left: 40%
    }
    .booth-2 .car {
        left: 32%
    }
    .booth-3 .car {
        left: 38%;
        top: 58%;
    }
    .booth-4 .car {
        left: 38%;
        top: 58%;
    }
    .booth-5 .car {
        left: 36%;
        top: 59%;
    }
    .booth-6 .car {
        left: 40%;
        top: 60%;
    }
    .booth-7 .car {
        left: 36%;
        top: 59%;
    }
    .booth-8 .car {
        left: 36%;
        top: 59%;
    }
    .booth-9 .car {
        left: 36%;
        top: 59%;
    }
}

.platform-hall-single.hall-12 {
    .car {
        width: 20%;
        top: 51%;
    }
    .booth-1 {
        width: 20%;
        height: 18%;
        left: 18%;
        bottom: 14%;

        .car {}
    }
    .booth-2 {
        width: 20%;
        height: 18%;
        left: 63%;
        bottom: 14%;

        .car {}
    }
    .booth-3 {
        width: 18.5%;
        height: 16%;
        left: 1%;
        bottom: 24%;

        .car {}
    }
    .booth-4 {
        width: 18.5%;
        height: 16%;
        left: 81%;
        bottom: 24%;

        .car {}
    }
    .booth-5 {
        width: 14%;
        height: 14.5%;
        left: 33%;
        bottom: 33%;

        .car {}
    }
    .booth-6 {
        width: 14%;
        height: 14.5%;
        left: 53%;
        bottom: 33%;

        .car {}
    }
    .booth-7 {
        width: 14%;
        height: 13%;
        left: 9%;
        bottom: 40%;

        .car {}
    }
    .booth-8 {
        width: 14%;
        height: 13%;
        left: 76%;
        bottom: 40%;

        .car {}
    }
    .booth-9 {
        width: 12%;
        height: 13%;
        left: 23%;
        bottom: 46%;

        .car {}
    }
    .booth-10 {
        width: 12%;
        height: 13%;
        left: 65%;
        bottom: 46%;

        .car {}
    }
    .booth-11 {
        width: 11%;
        height: 12%;
        left: 38%;
        bottom: 49%;

        .car {}
    }
    .booth-12 {
        width: 11%;
        height: 12%;
        left: 51%;
        bottom: 49%;

        .car {}
    }
}
//-------------------------------------------------------
//  BOOTH > AGENTS
//-------------------------------------------------------
.agent {
    background: url('../avatars/male.gif') center bottom -5% no-repeat;
    background-size: contain;
    // background-color: #20c997;
    background-color: transparent !important;
    // opacity: 1 !important;
    width: 35%;
    height: 100%;
    position: absolute;
    bottom: -5%;
}
.agent-female {
    background-image: url('../avatars/female.gif');
}
.agent-left { left: -22% }
.agent-right { right: -22% }


//-------------------------------------------------------
//  CARS
//-------------------------------------------------------
.car {
    background-color: rgba(#6f42c1,.5);
    width: 12%;

    &:before {
        padding-top: 75%;
    }
}

.car-image {
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@mixin car-position-1 { width: 16.5%; top: 36%; z-index: 1; left: 25%;  }
@mixin car-position-2 { width: 16.5%; top: 36%; z-index: 1; left: 45.5%;}
@mixin car-position-3 { width: 16.5%; top: 36%; z-index: 1; right: 18%; }
@mixin car-position-4 { top: 26%; left: 28%;  }
@mixin car-position-5 { top: 26%; right: 42%; }
@mixin car-position-6 { top: 26%; right: 22%; }



//-------------------------------------------------------
//  BASICS
//-------------------------------------------------------

.booth-6 {
    .booth-tv-1,
    .booth-tv-2 {
        top: 15.55%;
        width: 18.5%;

        &:before {
            padding-top: 48.5%;
        }
    }

    .booth-tv-1 { left: 23.6%; }
    .booth-tv-2 { left: 57.25%; }

    .booth-tv-3,
    .booth-tv-4 {
        width: 11.1%;
        left: 44.12%;
        top: 10.2%;

        &:before {
            padding-top: 48.5%;
        }
    }

    .booth-tv-4 { top: 23%; }

    .car-1 { @include car-position-1; }
    .car-2 { @include car-position-2; }
    .car-3 { @include car-position-3; }
    .car-4 { @include car-position-4; }
    .car-5 { @include car-position-5; }
    .car-6 { @include car-position-6; }
}

.booth-5 {
    .booth-tv-1 {
        left: 23%;
        top: 21.1%;
        width: 12.88%;

        &:before {
            padding-top: 52.5%;
        }
    }
    .booth-tv-2 {
        left: 62.88%;
        top: 21.5%;
        width: 13.35%;

        &:before {
            padding-top: 53%;
        }
    }

    .booth-tv-3 {
        width: 7.75%;
        left: 36.4%;
        top: 26.3%;

        &:before {
            padding-top: 53%;
        }
    }

    .booth-tv-4 {
        left: 54.7%;
        top: 27.2%;
        width: 7.75%;

        &:before {
            padding-top: 53%;
        }
    }

    .brand-1 {
        left: 87.5%;
        top: 52.3%;
    }

    .brand-2 {
        left: 47.2%;
        top: 20.5%;
        width: 5%;
    }

    .brand-3 {
        left: 20.6%;
        top: 8%;
        width: 7%;
    }

    .car-1 {
        @include car-position-1;
        left: 19%;
    }
    .car-2 {
        @include car-position-3;
        right: 28%;
    }
    .car-3 {
        @include car-position-4;
        top: 27%;
        left: 28%;
    }
    .car-4 {
        @include car-position-5;
        right: 36%;
    }
    .car-5 { @include car-position-6; }
}

.booth-4 {
    .brand-1 {
        left: 86.5%;
        top: 56.7%;
    }

    .brand-2 {
        left: 47.4%;
        top: 26.8%;
        width: 5%;
    }

    .brand-3 {
        left: 26.2%;
        top: 15.8%;
        width: 7%;
    }

    .booth-tv-1 {
        left: 60.18%;
        top: 24.44%;
        width: 16.88%;

        &:before {
            padding-top: 53%;
        }
    }

    .booth-tv-2 {
        left: 22.5%;
        top: 31.25%;
        width: 9.5%;

        &:before {
            padding-top: 52.5%;
        }
    }


    .car-1 {
        @include car-position-1;
        top: 42%;
        left: 16%;
    }
    .car-2 {
        @include car-position-3;
    }
    .car-3 {
        top: 33%;
        left: 31%;
    }
    .car-4 {
        top: 33%;
        right: 41%;
    }
}

.booth-3 {
    .brand-1 {
        left: 8.3%;
        top: 55.5%;
        width: 4%;
    }

    .brand-2 {
        left: 84.5%;
        top: 52.5%;
        width: 6%;
    }

    .brand-3 {
        left: 25.65%;
        top: 22.8%;
        width: 5%;
    }

    .booth-tv-1 {
        top: 22.15%;
        left: 63.12%;
        width: 16.3%;

        &:before {
            padding-top: 53%;
        }
    }

    .booth-tv-2 {
        width: 12.2%;
        left: 43.8%;
        top: 28%;

        &:before {
            padding-top: 53%;
        }
    }



    .car-1 {
        @include car-position-1;
        top: 41%;
        z-index: 1;
    }
    .car-2 {
        @include car-position-3;
        top: 41%;
        right: 22%;
        z-index: 1;
    }
    .car-3 {
        @include car-position-5;
        top: 33%;
        right: 41%;
        width: 14%;
        z-index: 1;
    }
}

.booth-2 {
    .brand-1 {
        left: 16.5%;
        top: 47.2%;
    }

    .brand-2 {
        left: 35.3%;
        top: 13.6%;
        width: 7%;
    }

    .booth-tv-1 {
        top: 13.45%;
        left: 53.3%;
        width: 19.6%;

        &:before {
            padding-top: 48.44%;
        }
    }

    .car-1 {
        @include car-position-3;
        right: 26%;
        top: 31%;
    }
    .car-2 {
        @include car-position-4;
    }
}

.booth-1 {
    .brand-1 {
        left: 47%;
        top: 45.7%;
        width: 5%;
    }

    .brand-2 {
        left: 65.2%;
        top: 18%;
        width: 6%;
    }

    .booth-tv-1 {
        top: 15.6%;
        left: 32.8%;
        width: 16.2%;

        &:before {
            padding-top: 53.44%;
        }
    }

    .car-1 {
        @include car-position-3;
        right: 32%;
        top: 22%;
    }
}





body > main {
    display: flex;
    flex-direction: column;
}
body > main > div:nth-child(1) { order: 1 }
body > main > div:nth-child(6) { order: 2 }
body > main > div:nth-child(2) { order: 3 }
body > main > div:nth-child(3) { order: 4 }
body > main > div:nth-child(4) { order: 5 }
body > main > div:nth-child(5) { order: 6 }
body > main > div:nth-child(7) { order: 7 }
body > main > div:nth-child(8) { order: 8 }
body > main > div:nth-child(9) { order: 9 }
body > main > div:nth-child(10){ order: 10 }
