.platform-hall.hall-elegant {
    .hall-logo {
        top: 77.5%;
    }

    .cinema {
        top: 20.65%;
        left: 50%;
        width: 14.7%;
        margin-left: -7.35%;
    }


    .booth {
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .booth-car {
        bottom: 28%;
        left: 34%;
        top: auto;
        width: 36%;

        &:before {
            padding-top: 50%;
        }
    }
    .booth-logo {
        transform: scale(1);
        top: 0;
    }
    .booth-tv {
        top: auto;
        width: 22.4%;
        bottom: 57%;
        left: 69.5%;
        top: auto;

        &:before {
            padding-top: 51.5%;
        }
    }

    .booth-left,
    .booth-right {
        width: 21.5%;
        height: 12%;
    }
    .booth-left {
    }
    .booth-right {
        .booth-tv {
            left: 59%;
        }
        .booth-car {
            left: 23%;
        }
    }

    .booth-1,
    .booth-2 {
        bottom: 15%;
    }

    .booth-1 { right: 70%; left: auto; }
    .booth-2 { left: 70%; right: auto; }

    .booth-3,
    .booth-4 {
        bottom: 26.5%;
        transform: scale(0.95);
    }

    .booth-3 { right: 51% }
    .booth-4 { left: 51% }

    .booth-5,
    .booth-6 {
        bottom: 34%;
        transform: scale(0.9);
    }

    .booth-5 { right: 73% }
    .booth-6 { left: 73% }

    .booth-7,
    .booth-8 {
        bottom: 43.5%;
        transform: scale(0.85);
    }

    .booth-7 { right: 51% }
    .booth-8 { left: 51% }




    .booth-logo {
        background-color: transparent;
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        height: 6%;
        width: 12%;

        top: auto;
        bottom: 27%;
        right: auto;
        left: auto;

        &:before {
            display: none;
        }

        > img {
            height: 100%;
            width: auto;
            margin: 0 auto;
            position: static;
            transform: scale(0.8);
        }
    }

    .booth-logo-1 { right: 75%; }
    .booth-logo-2 { left: 75%; }

    .booth-logo-3,
    .booth-logo-4 {
        bottom: 38.2%;
    }
    .booth-logo-3 { right: 56%; }
    .booth-logo-4 { left: 56%; }

    .booth-logo-5,
    .booth-logo-6 {
        bottom: 45.4%;
    }
    .booth-logo-5 { right: 77.5%; }
    .booth-logo-6 { left: 77.5%; }

    .booth-logo-7,
    .booth-logo-8 {
        bottom: 54.6%;
    }
    .booth-logo-7 { right: 56%; }
    .booth-logo-8 { left: 56%; }


    .booth-rep {
        // background-color: #fc0;
        color: transparent;
        font-size: 0;
        width: 3%;
        height: 6%;

        position: absolute;
        bottom: 10%;

        > img {
            object-fit: contain;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;

            width: 100%;
            height: 100%;
        }
    }

    .booth-rep-1,
    .booth-rep-2 {
        bottom: 16%
    }
    .booth-rep-1 { left: 12%; }
    .booth-rep-2 { right: 25%; }

    .booth-rep-3,
    .booth-rep-4 {
        bottom: 28%;
        transform: scale(0.95);
    }
    .booth-rep-3 { right: 65%; }
    .booth-rep-4 { left: 60%; }

    .booth-rep-5,
    .booth-rep-6 {
        bottom: 36%;
        transform: scale(0.9);
    }
    .booth-rep-5 { left: 20%; }
    .booth-rep-6 { right: 20%; }

    .booth-rep-7,
    .booth-rep-8{
        bottom: 46%;
        transform: scale(0.85);
    }
    .booth-rep-7 { right: 63%; }
    .booth-rep-8 { left: 65%; }
}
