.jotform-form .form-section {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    font-size: 14px;
}

.jotform-form [data-type="control_image"] img {
    display: block;
    width: 100%;
    height: auto;
}
.jotform-form .form-line-error,
.jotform-form .form-error-message {
    color: #dc3545;
}
.jotform-form .form-error-message {
    font-size: 12px;
    margin-top: 4px;
}
.jotform-form .form-error-message img,
.jotform-form .form-error-message .form-error-arrow {
    display: none;
}

.jotform-form .form-label {
    display: block;
    font-weight: 500;
    margin-bottom: 4px;
}

.jotform-form [data-type="control_text"],
.jotform-form [data-type="control_textbox"],
.jotform-form [data-type="control_dropdown"],
.jotform-form [data-type="control_widget"],
.jotform-form [data-type="control_button"] {
    margin: 16px 24px;
}

.jotform-form [data-type="control_text"] * {
    font-size: 10px !important;
    line-height: 16px !important;
}
.jotform-form [data-type="control_button"] * {
    text-align: left !important;
}

.jotform-form [data-type="control_button"] .form-submit-button {
    color: #fff;
    background-color: #007bff !important;
    border: 1px solid #007bff !important;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    padding: 8px 24px;
    margin: 8px 0;
    min-width: 30%;
    text-align: center !important;
    text-transform: uppercase;
    vertical-align: top;
}

.jotform-form .form-textbox,
.jotform-form .form-dropdown {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 16px;
    width: 100% !important;
    color: #343a40;
}

.jotform-form .form-dropdown {
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 14px top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
