.modal-carousel {
    margin: -24px -24px 20px;
    text-align: center;

    .carousel-item {
        position: relative;

        &:before  {
            content: '';
            display: block;
            padding-top: 56.25%;
        }

        > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    .carousel-indicators {
        display: inline-flex;
        background-color: rgba(0,0,0,.05);
        border-radius: 12px;
        position: static;
        padding: 8px;
        margin: 8px 0 0;

        li {
            border: 0;
            background: var(--gray-dark);
            width: 8px;
            height: 8px;
            border-radius: 100%;
            opacity: .2;

            &:hover {
                opacity: .4;
            }

            &.active {
                opacity: .8;
            }
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background: rgba(0,0,0,.2);
        position: absolute;
        top: 50%;
        margin-top: -65px;
        height: 80px;
        width: 48px;

        &:hover {
            background: rgba(0,0,0,.8);
        }

        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-top: 2px solid #FFF;
            border-left: 2px solid #FFF;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -8px 0 0 -4px;
            transform: rotate(-45deg);
        }
    }

    .carousel-control-prev-icon {
        border-radius: 0 4px 4px 0;
        left: 0;
    }
    .carousel-control-next-icon {
        border-radius: 4px 0 0 4px;
        right: 0;

        &:before {
            left: auto;
            right: 50%;
            margin: -8px -4px 0 0;
            transform: rotate(135deg);
        }
    }
}

.modal-header,
.modal-body {
    padding: 24px;
}

.modal-header {
    background-color: var(--gray-dark);
    border: 0;
    color: #FFF;
    padding-bottom: 16px;
    padding-top: 16px;

    .close {
        position: relative;
        margin-right: -8px;

        &:before,
        &:after {
            background-color: #FFF;
            content: '';
            display: block;
            width: 16px;
            height: 2px;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 50%;
            margin-left: -8px;
        }

        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}

.modal-title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.modal-content {
    background-color: var(--light);
    border: 0;
}

.modal-tabs {
    background-color: var(--gray);
    margin: -24px -24px 24px;
    padding: 0 24px;
    position: relative;
    z-index: 10;

    .nav-item + .nav-item {
        margin-left: 24px;
    }

    .nav-link {
        padding: 12px 0;
        color: #FFF;

        &.active {
            box-shadow: inset 0 -2px 0px #FFF, 0 1px rgba(0,0,0,.1);
        }
    }

    .dropdown-toggle::after {
        opacity: .4;
    }

    .dropdown-menu {
        top: 4px !important;
    }
}

.modal-actions {
    margin-top: 20px;

    .btn {
        display: block;
        border-radius: 4px;
        padding: 8px 20px;
        white-space: nowrap;
    }
}



.modal-agenda {
    .modal-body {
        padding: 0;
    }
    .agenda-date {
        background-color: darken(#f8f9fa, 10%);
        padding: 16px 24px;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
    .agenda {
        margin: 0;
        padding: 24px;

        > li + li {
            border-top: 1px solid rgba(0,0,0,.05);
            padding-top: 10px;
            margin-top: 10px;
        }

        +  .divider {
            border-top: 1px solid rgba(0,0,0,.05);
            margin: 0;
        }

        .time {
            padding-left: 40px;
            position: relative;

            &:before {
                background-color: var(--blue);
                border-radius: 100%;
                content: '';
                display: block;
                position: absolute;
                left: 16px;
                top: 50%;
                width: 8px;
                height: 8px;
                margin-top: -4px;
            }
        }

        .past {
            color: rgba(0,0,0,.4);

            .time:before {
                background-color: rgba(0,0,0,.1);
            }
        }

        .running {
            .time:before {
                background-color: var(--green);
            }
        }
    }
}




.modal-booking {
    .modal-body {
        padding: 0;
    }
}






@media (max-width: 768px) {
    .modal-dialog {
        border-radius: 0;
        margin: 0 auto;
        max-width: 100%;
    }

    .modal-header,
    .modal-body {
        padding: 16px;
    }

    .modal-carousel,
    .modal-tabs {
        margin: -16px -16px 16px;
    }

    .modal-tabs {
        padding: 0 16px;
    }

    .modal-carousel .carousel-control-prev-icon,
    .modal-carousel .carousel-control-next-icon {
        height: 42px;
        width: 60px;
        margin-top: -44px;
    }
}


@media (min-width: 768px) {
    .modal-dialog {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .modal-actions-couple {
        margin-top: 12px;

        .btn {
            width: 50%;
        }
    }
}
