.toolbar {
    padding-top: 12px;
    padding-bottom: 12px;

    .nav-link {
        font-size: 14px;
        color: #FFF !important;
        font-weight: 400;
    }

    .btn {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (min-width: 992px){
    .toolbar {
        .navbar-nav .nav-link {
           padding-right: 0;
           padding-left: 0;
       }
       .navbar-nav .nav-item + .nav-item {
           margin-left: 32px;
       }
    }
}
