* {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px; }

.btn {
  border-radius: 4px; }

.modal-carousel {
  margin: -24px -24px 20px;
  text-align: center; }
  .modal-carousel .carousel-item {
    position: relative; }
    .modal-carousel .carousel-item:before {
      content: '';
      display: block;
      padding-top: 56.25%; }
    .modal-carousel .carousel-item > img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
  .modal-carousel .carousel-indicators {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    position: static;
    padding: 8px;
    margin: 8px 0 0; }
    .modal-carousel .carousel-indicators li {
      border: 0;
      background: var(--gray-dark);
      width: 8px;
      height: 8px;
      border-radius: 100%;
      opacity: .2; }
      .modal-carousel .carousel-indicators li:hover {
        opacity: .4; }
      .modal-carousel .carousel-indicators li.active {
        opacity: .8; }
  .modal-carousel .carousel-control-prev-icon,
  .modal-carousel .carousel-control-next-icon {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    margin-top: -65px;
    height: 80px;
    width: 48px; }
    .modal-carousel .carousel-control-prev-icon:hover,
    .modal-carousel .carousel-control-next-icon:hover {
      background: rgba(0, 0, 0, 0.8); }
    .modal-carousel .carousel-control-prev-icon:before,
    .modal-carousel .carousel-control-next-icon:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-top: 2px solid #FFF;
      border-left: 2px solid #FFF;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -4px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .modal-carousel .carousel-control-prev-icon {
    border-radius: 0 4px 4px 0;
    left: 0; }
  .modal-carousel .carousel-control-next-icon {
    border-radius: 4px 0 0 4px;
    right: 0; }
    .modal-carousel .carousel-control-next-icon:before {
      left: auto;
      right: 50%;
      margin: -8px -4px 0 0;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

.modal-header,
.modal-body {
  padding: 24px; }

.modal-header {
  background-color: var(--gray-dark);
  border: 0;
  color: #FFF;
  padding-bottom: 16px;
  padding-top: 16px; }
  .modal-header .close {
    position: relative;
    margin-right: -8px; }
    .modal-header .close:before, .modal-header .close:after {
      background-color: #FFF;
      content: '';
      display: block;
      width: 16px;
      height: 2px;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -8px; }
    .modal-header .close:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .modal-header .close:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.modal-title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.modal-content {
  background-color: var(--light);
  border: 0; }

.modal-tabs {
  background-color: var(--gray);
  margin: -24px -24px 24px;
  padding: 0 24px;
  position: relative;
  z-index: 10; }
  .modal-tabs .nav-item + .nav-item {
    margin-left: 24px; }
  .modal-tabs .nav-link {
    padding: 12px 0;
    color: #FFF; }
    .modal-tabs .nav-link.active {
      -webkit-box-shadow: inset 0 -2px 0px #FFF, 0 1px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 -2px 0px #FFF, 0 1px rgba(0, 0, 0, 0.1); }
  .modal-tabs .dropdown-toggle::after {
    opacity: .4; }
  .modal-tabs .dropdown-menu {
    top: 4px !important; }

.modal-actions {
  margin-top: 20px; }
  .modal-actions .btn {
    display: block;
    border-radius: 4px;
    padding: 8px 20px;
    white-space: nowrap; }

.modal-agenda .modal-body {
  padding: 0; }

.modal-agenda .agenda-date {
  background-color: #dae0e5;
  padding: 16px 24px;
  margin: 0;
  font-size: 16px;
  font-weight: bold; }

.modal-agenda .agenda {
  margin: 0;
  padding: 24px; }
  .modal-agenda .agenda > li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 10px;
    margin-top: 10px; }
  .modal-agenda .agenda + .divider {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0; }
  .modal-agenda .agenda .time {
    padding-left: 40px;
    position: relative; }
    .modal-agenda .agenda .time:before {
      background-color: var(--blue);
      border-radius: 100%;
      content: '';
      display: block;
      position: absolute;
      left: 16px;
      top: 50%;
      width: 8px;
      height: 8px;
      margin-top: -4px; }
  .modal-agenda .agenda .past {
    color: rgba(0, 0, 0, 0.4); }
    .modal-agenda .agenda .past .time:before {
      background-color: rgba(0, 0, 0, 0.1); }
  .modal-agenda .agenda .running .time:before {
    background-color: var(--green); }

.modal-booking .modal-body {
  padding: 0; }

@media (max-width: 768px) {
  .modal-dialog {
    border-radius: 0;
    margin: 0 auto;
    max-width: 100%; }
  .modal-header,
  .modal-body {
    padding: 16px; }
  .modal-carousel,
  .modal-tabs {
    margin: -16px -16px 16px; }
  .modal-tabs {
    padding: 0 16px; }
  .modal-carousel .carousel-control-prev-icon,
  .modal-carousel .carousel-control-next-icon {
    height: 42px;
    width: 60px;
    margin-top: -44px; } }

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 540px; } }

@media (max-width: 576px) {
  .modal-actions-couple {
    margin-top: 12px; }
    .modal-actions-couple .btn {
      width: 50%; } }

.toolbar {
  padding-top: 12px;
  padding-bottom: 12px; }
  .toolbar .nav-link {
    font-size: 14px;
    color: #FFF !important;
    font-weight: 400; }
  .toolbar .btn {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px; }

@media (min-width: 992px) {
  .toolbar .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .toolbar .navbar-nav .nav-item + .nav-item {
    margin-left: 32px; } }

.platform {
  position: relative;
  max-height: 100%; }
  .platform > video {
    top: auto; }

.booth,
.car,
.agent,
.cinema,
.billboard,
.brand,
.hall-logo {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 20%; }

.brand:before,
.car:before,
.cinema:before,
.billboard:before,
.booth-tv:before,
.booth-logo:before,
.booth-car:before,
.billboard-left-top
.billboard-left-middle
.billboard-left-bottom:before,
.hall-logo:before {
  content: '';
  display: block; }

.brand *,
.car *,
.cinema *,
.billboard *,
.booth-tv *,
.booth-logo *,
.booth-car *,
.billboard-left-top
.billboard-left-middle
.billboard-left-bottom *,
.hall-logo * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.brand-1,
.brand-2,
.brand-3 {
  background: rgba(255, 204, 0, 0.2); }
  .brand-1:before,
  .brand-2:before,
  .brand-3:before {
    padding-top: 56.25%; }
  .brand-1 img,
  .brand-2 img,
  .brand-3 img {
    -o-object-fit: contain;
    object-fit: contain; }

.brand-1 {
  left: 11%;
  top: 52.2%;
  width: 4%; }

.brand-2 {
  left: 24.4%;
  top: 8%;
  width: 5.6%; }

.brand-3 {
  left: 80.2%;
  top: 6%;
  width: 8%; }

.cinema {
  top: 19%;
  left: 50%;
  width: 17%;
  margin-left: -8.5%; }
  .cinema:before {
    padding-top: 56.25%; }

.billboard-left-top {
  width: 5.85%;
  height: 19.1%;
  left: 18.5%;
  top: 22.2%; }

.billboard-left-middle {
  width: 6.25%;
  height: 20.8%;
  left: 10.1%;
  top: 23.85%; }

.billboard-left-bottom {
  width: 6.9%;
  height: 22.7%;
  left: 1.1%;
  top: 26%; }

.billboard-right-top {
  width: 5.85%;
  height: 19.1%;
  right: 18.5%;
  top: 22.2%; }

.billboard-right-middle {
  width: 6.25%;
  height: 20.8%;
  right: 10.1%;
  top: 23.85%; }

.billboard-right-bottom {
  width: 6.9%;
  height: 22.7%;
  right: 1.1%;
  top: 26%; }

.booth {
  background-color: rgba(0, 123, 255, 0.2); }

.platform-hall .booth-logo {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

.platform-hall .booth-1,
.platform-hall .booth-2 {
  width: 21.5%;
  height: 18%;
  bottom: 17%; }
  .platform-hall .booth-1 .booth-logo,
  .platform-hall .booth-2 .booth-logo {
    width: 27%; }
  .platform-hall .booth-1 .booth-tv,
  .platform-hall .booth-2 .booth-tv {
    width: 21.5%;
    top: 40%;
    left: 71%; }
  .platform-hall .booth-1 .booth-car,
  .platform-hall .booth-2 .booth-car {
    top: 58%; }
  .platform-hall .booth-1 .booth-car-4,
  .platform-hall .booth-1 .booth-car-5,
  .platform-hall .booth-2 .booth-car-4,
  .platform-hall .booth-2 .booth-car-5 {
    top: 76%; }

.platform-hall .booth-1 {
  left: 5%; }
  .platform-hall .booth-1 .booth-logo {
    left: 43.5%; }

.platform-hall .booth-2 {
  left: 74%; }
  .platform-hall .booth-2 .booth-logo {
    right: 45.5%;
    left: auto; }
  .platform-hall .booth-2 .booth-tv {
    left: 55.5%; }

.booth-tv,
.booth-logo {
  background-color: var(--dark);
  position: absolute;
  width: 25%;
  top: 51%;
  left: 67%; }
  .booth-tv:before,
  .booth-logo:before {
    padding-top: 56.25%; }

.booth-logo {
  width: 46%;
  top: 0%;
  left: 29%; }
  .booth-logo img {
    -o-object-fit: contain;
    object-fit: contain; }

.booth-car {
  width: 12%;
  top: 66%; }

.booth-car-1 {
  left: 18%; }

.booth-car-2 {
  left: 38%; }

.booth-car-3 {
  left: 58%; }

.booth-car-4,
.booth-car-5 {
  width: 15%;
  top: 79%;
  left: 10%; }

.booth-car-5 {
  left: 30%; }

.hall-6 .booth-3,
.hall-6 .booth-4,
.hall-6 .booth-7,
.hall-7 .booth-3,
.hall-7 .booth-4,
.hall-7 .booth-7 {
  width: 16.5%;
  height: 15%;
  bottom: 33%; }
  .hall-6 .booth-3 .booth-logo,
  .hall-6 .booth-4 .booth-logo,
  .hall-6 .booth-7 .booth-logo,
  .hall-7 .booth-3 .booth-logo,
  .hall-7 .booth-4 .booth-logo,
  .hall-7 .booth-7 .booth-logo {
    width: 35%; }
  .hall-6 .booth-3 .booth-tv,
  .hall-6 .booth-4 .booth-tv,
  .hall-6 .booth-7 .booth-tv,
  .hall-7 .booth-3 .booth-tv,
  .hall-7 .booth-4 .booth-tv,
  .hall-7 .booth-7 .booth-tv {
    width: 22.5%;
    top: 48%;
    left: 69%; }

.hall-6 .booth-3,
.hall-7 .booth-3 {
  left: 22%; }
  .hall-6 .booth-3 .booth-logo,
  .hall-7 .booth-3 .booth-logo {
    left: 38.5%; }

.hall-6 .booth-4,
.hall-7 .booth-4 {
  left: 61.35%; }
  .hall-6 .booth-4 .booth-logo,
  .hall-7 .booth-4 .booth-logo {
    right: 38.5%; }
  .hall-6 .booth-4 .booth-tv,
  .hall-7 .booth-4 .booth-tv {
    left: 61.5%; }

.hall-6 .booth-5,
.hall-6 .booth-6,
.hall-7 .booth-5,
.hall-7 .booth-6 {
  width: 12.5%;
  height: 14%;
  bottom: 43%; }

.hall-6 .booth-5,
.hall-7 .booth-5 {
  left: 36%; }

.hall-6 .booth-6,
.hall-7 .booth-6 {
  left: 51.35%; }

.hall-6 .booth-7,
.hall-7 .booth-7 {
  left: 42%;
  top: 55.1%;
  height: 16%; }
  .hall-6 .booth-7 .booth-car-1,
  .hall-6 .booth-7 .booth-car-2,
  .hall-6 .booth-7 .booth-car-3,
  .hall-7 .booth-7 .booth-car-1,
  .hall-7 .booth-7 .booth-car-2,
  .hall-7 .booth-7 .booth-car-3 {
    top: 65%; }
  .hall-6 .booth-7 .booth-tv,
  .hall-7 .booth-7 .booth-tv {
    left: 64.5%;
    top: 45.2%;
    width: 24%; }

.hall-7 .booth-1,
.hall-7 .booth-2 {
  bottom: 16.8%; }

.hall-7 .booth-5 .booth-logo,
.hall-7 .booth-6 .booth-logo {
  top: 1%; }

.hall-7 .booth-7 .booth-logo {
  left: 31%; }

.hall-8 .booth-1 .booth-logo,
.hall-8 .booth-2 .booth-logo {
  left: 44.5%;
  top: 1%; }

.hall-8 .booth-2 .booth-logo {
  left: 26.5%;
  right: auto; }

.hall-8 .booth-3,
.hall-8 .booth-4 {
  left: 32%;
  height: 16%;
  width: 16.5%;
  bottom: 28.8%;
  z-index: 1; }
  .hall-8 .booth-3 .booth-logo,
  .hall-8 .booth-4 .booth-logo {
    top: .8%;
    left: 32.5%;
    width: 35.5%; }
  .hall-8 .booth-3 .booth-tv,
  .hall-8 .booth-4 .booth-tv {
    left: 67%;
    top: 45%;
    width: 23%; }

.hall-8 .booth-4 {
  left: 52%; }
  .hall-8 .booth-4 .booth-logo {
    left: 29.5%; }
  .hall-8 .booth-4 .booth-tv {
    left: 63%; }

.hall-8 .booth-5,
.hall-8 .booth-6 {
  width: 14.8%;
  height: 14.2%;
  bottom: 38%;
  left: 17%; }
  .hall-8 .booth-5 .booth-logo,
  .hall-8 .booth-6 .booth-logo {
    left: 39.5%;
    width: 38.5%; }
  .hall-8 .booth-5 .booth-tv,
  .hall-8 .booth-6 .booth-tv {
    left: 72%;
    top: 50%;
    width: 23%; }

.hall-8 .booth-5 {
  left: 17%; }

.hall-8 .booth-6 {
  left: 68.35%; }
  .hall-8 .booth-6 .booth-logo {
    left: 21.5%; }
  .hall-8 .booth-6 .booth-tv {
    left: 58%; }

.hall-8 .booth-7,
.hall-8 .booth-8 {
  width: 12.5%;
  height: 14%;
  bottom: 43%; }

.hall-8 .booth-7 {
  left: 36%; }

.hall-8 .booth-8 {
  left: 51.35%; }

.hall-9 .booth-3,
.hall-9 .booth-4,
.hall-9 .booth-5 {
  width: 16.5%;
  height: 15.5%;
  bottom: 31%; }
  .hall-9 .booth-3 .booth-logo,
  .hall-9 .booth-4 .booth-logo,
  .hall-9 .booth-5 .booth-logo {
    width: 35%; }
  .hall-9 .booth-3 .booth-tv,
  .hall-9 .booth-4 .booth-tv,
  .hall-9 .booth-5 .booth-tv {
    width: 22.5%;
    top: 46%;
    left: 66.8%; }

.hall-9 .booth-3 {
  left: 22%; }
  .hall-9 .booth-3 .booth-logo {
    left: 33.5%; }

.hall-9 .booth-4 {
  left: 61.35%; }
  .hall-9 .booth-4 .booth-logo {
    left: 32.5%; }
  .hall-9 .booth-4 .booth-tv {
    left: 65.5%; }

.hall-9 .booth-5 {
  left: 42%;
  top: 55.1%;
  height: 16%; }
  .hall-9 .booth-5 .booth-logo {
    left: 31.5%; }
  .hall-9 .booth-5 .booth-car-1,
  .hall-9 .booth-5 .booth-car-2,
  .hall-9 .booth-5 .booth-car-3 {
    top: 65%; }
  .hall-9 .booth-5 .booth-tv {
    left: 64.5%;
    top: 45.2%;
    width: 24%; }

.hall-9 .booth-6,
.hall-9 .booth-7,
.hall-9 .booth-8,
.hall-9 .booth-9 {
  width: 12.5%;
  height: 14%;
  bottom: 45.2%; }
  .hall-9 .booth-6 .booth-logo,
  .hall-9 .booth-7 .booth-logo,
  .hall-9 .booth-8 .booth-logo,
  .hall-9 .booth-9 .booth-logo {
    width: 46%;
    top: 2%;
    left: 31.5%; }

.hall-9 .booth-6 {
  left: 22%; }
  .hall-9 .booth-6 .booth-logo {
    left: 32.5%; }
  .hall-9 .booth-6 .booth-tv {
    left: 68%; }

.hall-9 .booth-7 {
  left: 36%; }
  .hall-9 .booth-7 .booth-logo {
    left: 32.5%; }
  .hall-9 .booth-7 .booth-tv {
    left: 68%; }

.hall-9 .booth-8 {
  left: 51.35%; }
  .hall-9 .booth-8 .booth-logo {
    left: 23%; }
  .hall-9 .booth-8 .booth-tv {
    left: 63.2%;
    top: 52%; }

.hall-9 .booth-9 {
  left: 65.5%; }
  .hall-9 .booth-9 .booth-logo {
    left: 23%; }
  .hall-9 .booth-9 .booth-tv {
    left: 63.2%;
    top: 52%; }

.platform-hall-single .hall-logo {
  width: 6%;
  left: 47.2%;
  top: 74.5%; }
  .platform-hall-single .hall-logo img {
    -o-object-fit: cover;
    object-fit: cover; }
  .platform-hall-single .hall-logo:before {
    padding-top: 65%; }

.platform-hall-single.hall-6 .car {
  width: 20%;
  top: 51%; }

.platform-hall-single.hall-6 .booth-1 .car {
  left: 40%; }

.platform-hall-single.hall-6 .booth-2 .car {
  left: 32%; }

.platform-hall-single.hall-6 .booth-3 .car {
  left: 38%;
  top: 58%; }

.platform-hall-single.hall-6 .booth-4 .car {
  left: 38%;
  top: 58%; }

.platform-hall-single.hall-6 .booth-5 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-6 .booth-6 .car {
  left: 40%;
  top: 60%; }

.platform-hall-single.hall-7 .car {
  width: 20%;
  top: 51%; }

.platform-hall-single.hall-7 .booth-1 .car {
  left: 40%; }

.platform-hall-single.hall-7 .booth-2 .car {
  left: 32%; }

.platform-hall-single.hall-7 .booth-3 .car {
  left: 38%;
  top: 58%; }

.platform-hall-single.hall-7 .booth-4 .car {
  left: 38%;
  top: 58%; }

.platform-hall-single.hall-7 .booth-5 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-7 .booth-6 .car {
  left: 40%;
  top: 60%; }

.platform-hall-single.hall-7 .booth-7 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-8 .car {
  width: 20%;
  top: 51%; }

.platform-hall-single.hall-8 .booth-1 .car {
  left: 40%; }

.platform-hall-single.hall-8 .booth-2 .car {
  left: 32%; }

.platform-hall-single.hall-8 .booth-3 .car {
  left: 38%;
  top: 58%; }

.platform-hall-single.hall-8 .booth-4 .car {
  left: 38%;
  top: 58%; }

.platform-hall-single.hall-8 .booth-5 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-8 .booth-6 .car {
  left: 40%;
  top: 60%; }

.platform-hall-single.hall-8 .booth-7 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-8 .booth-8 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-9 .car {
  width: 20%;
  top: 51%; }

.platform-hall-single.hall-9 .booth-1 .car {
  left: 40%; }

.platform-hall-single.hall-9 .booth-2 .car {
  left: 32%; }

.platform-hall-single.hall-9 .booth-3 .car {
  left: 38%;
  top: 58%; }

.platform-hall-single.hall-9 .booth-4 .car {
  left: 38%;
  top: 58%; }

.platform-hall-single.hall-9 .booth-5 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-9 .booth-6 .car {
  left: 40%;
  top: 60%; }

.platform-hall-single.hall-9 .booth-7 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-9 .booth-8 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-9 .booth-9 .car {
  left: 36%;
  top: 59%; }

.platform-hall-single.hall-12 .car {
  width: 20%;
  top: 51%; }

.platform-hall-single.hall-12 .booth-1 {
  width: 20%;
  height: 18%;
  left: 18%;
  bottom: 14%; }

.platform-hall-single.hall-12 .booth-2 {
  width: 20%;
  height: 18%;
  left: 63%;
  bottom: 14%; }

.platform-hall-single.hall-12 .booth-3 {
  width: 18.5%;
  height: 16%;
  left: 1%;
  bottom: 24%; }

.platform-hall-single.hall-12 .booth-4 {
  width: 18.5%;
  height: 16%;
  left: 81%;
  bottom: 24%; }

.platform-hall-single.hall-12 .booth-5 {
  width: 14%;
  height: 14.5%;
  left: 33%;
  bottom: 33%; }

.platform-hall-single.hall-12 .booth-6 {
  width: 14%;
  height: 14.5%;
  left: 53%;
  bottom: 33%; }

.platform-hall-single.hall-12 .booth-7 {
  width: 14%;
  height: 13%;
  left: 9%;
  bottom: 40%; }

.platform-hall-single.hall-12 .booth-8 {
  width: 14%;
  height: 13%;
  left: 76%;
  bottom: 40%; }

.platform-hall-single.hall-12 .booth-9 {
  width: 12%;
  height: 13%;
  left: 23%;
  bottom: 46%; }

.platform-hall-single.hall-12 .booth-10 {
  width: 12%;
  height: 13%;
  left: 65%;
  bottom: 46%; }

.platform-hall-single.hall-12 .booth-11 {
  width: 11%;
  height: 12%;
  left: 38%;
  bottom: 49%; }

.platform-hall-single.hall-12 .booth-12 {
  width: 11%;
  height: 12%;
  left: 51%;
  bottom: 49%; }

.agent {
  background: url("../avatars/male.gif") center bottom -5% no-repeat;
  background-size: contain;
  background-color: transparent !important;
  width: 35%;
  height: 100%;
  position: absolute;
  bottom: -5%; }

.agent-female {
  background-image: url("../avatars/female.gif"); }

.agent-left {
  left: -22%; }

.agent-right {
  right: -22%; }

.car {
  background-color: rgba(111, 66, 193, 0.5);
  width: 12%; }
  .car:before {
    padding-top: 75%; }

.car-image {
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.booth-6 .booth-tv-1,
.booth-6 .booth-tv-2 {
  top: 15.55%;
  width: 18.5%; }
  .booth-6 .booth-tv-1:before,
  .booth-6 .booth-tv-2:before {
    padding-top: 48.5%; }

.booth-6 .booth-tv-1 {
  left: 23.6%; }

.booth-6 .booth-tv-2 {
  left: 57.25%; }

.booth-6 .booth-tv-3,
.booth-6 .booth-tv-4 {
  width: 11.1%;
  left: 44.12%;
  top: 10.2%; }
  .booth-6 .booth-tv-3:before,
  .booth-6 .booth-tv-4:before {
    padding-top: 48.5%; }

.booth-6 .booth-tv-4 {
  top: 23%; }

.booth-6 .car-1 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  left: 25%; }

.booth-6 .car-2 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  left: 45.5%; }

.booth-6 .car-3 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  right: 18%; }

.booth-6 .car-4 {
  top: 26%;
  left: 28%; }

.booth-6 .car-5 {
  top: 26%;
  right: 42%; }

.booth-6 .car-6 {
  top: 26%;
  right: 22%; }

.booth-5 .booth-tv-1 {
  left: 23%;
  top: 21.1%;
  width: 12.88%; }
  .booth-5 .booth-tv-1:before {
    padding-top: 52.5%; }

.booth-5 .booth-tv-2 {
  left: 62.88%;
  top: 21.5%;
  width: 13.35%; }
  .booth-5 .booth-tv-2:before {
    padding-top: 53%; }

.booth-5 .booth-tv-3 {
  width: 7.75%;
  left: 36.4%;
  top: 26.3%; }
  .booth-5 .booth-tv-3:before {
    padding-top: 53%; }

.booth-5 .booth-tv-4 {
  left: 54.7%;
  top: 27.2%;
  width: 7.75%; }
  .booth-5 .booth-tv-4:before {
    padding-top: 53%; }

.booth-5 .brand-1 {
  left: 87.5%;
  top: 52.3%; }

.booth-5 .brand-2 {
  left: 47.2%;
  top: 20.5%;
  width: 5%; }

.booth-5 .brand-3 {
  left: 20.6%;
  top: 8%;
  width: 7%; }

.booth-5 .car-1 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  left: 25%;
  left: 19%; }

.booth-5 .car-2 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  right: 18%;
  right: 28%; }

.booth-5 .car-3 {
  top: 26%;
  left: 28%;
  top: 27%;
  left: 28%; }

.booth-5 .car-4 {
  top: 26%;
  right: 42%;
  right: 36%; }

.booth-5 .car-5 {
  top: 26%;
  right: 22%; }

.booth-4 .brand-1 {
  left: 86.5%;
  top: 56.7%; }

.booth-4 .brand-2 {
  left: 47.4%;
  top: 26.8%;
  width: 5%; }

.booth-4 .brand-3 {
  left: 26.2%;
  top: 15.8%;
  width: 7%; }

.booth-4 .booth-tv-1 {
  left: 60.18%;
  top: 24.44%;
  width: 16.88%; }
  .booth-4 .booth-tv-1:before {
    padding-top: 53%; }

.booth-4 .booth-tv-2 {
  left: 22.5%;
  top: 31.25%;
  width: 9.5%; }
  .booth-4 .booth-tv-2:before {
    padding-top: 52.5%; }

.booth-4 .car-1 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  left: 25%;
  top: 42%;
  left: 16%; }

.booth-4 .car-2 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  right: 18%; }

.booth-4 .car-3 {
  top: 33%;
  left: 31%; }

.booth-4 .car-4 {
  top: 33%;
  right: 41%; }

.booth-3 .brand-1 {
  left: 8.3%;
  top: 55.5%;
  width: 4%; }

.booth-3 .brand-2 {
  left: 84.5%;
  top: 52.5%;
  width: 6%; }

.booth-3 .brand-3 {
  left: 25.65%;
  top: 22.8%;
  width: 5%; }

.booth-3 .booth-tv-1 {
  top: 22.15%;
  left: 63.12%;
  width: 16.3%; }
  .booth-3 .booth-tv-1:before {
    padding-top: 53%; }

.booth-3 .booth-tv-2 {
  width: 12.2%;
  left: 43.8%;
  top: 28%; }
  .booth-3 .booth-tv-2:before {
    padding-top: 53%; }

.booth-3 .car-1 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  left: 25%;
  top: 41%;
  z-index: 1; }

.booth-3 .car-2 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  right: 18%;
  top: 41%;
  right: 22%;
  z-index: 1; }

.booth-3 .car-3 {
  top: 26%;
  right: 42%;
  top: 33%;
  right: 41%;
  width: 14%;
  z-index: 1; }

.booth-2 .brand-1 {
  left: 16.5%;
  top: 47.2%; }

.booth-2 .brand-2 {
  left: 35.3%;
  top: 13.6%;
  width: 7%; }

.booth-2 .booth-tv-1 {
  top: 13.45%;
  left: 53.3%;
  width: 19.6%; }
  .booth-2 .booth-tv-1:before {
    padding-top: 48.44%; }

.booth-2 .car-1 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  right: 18%;
  right: 26%;
  top: 31%; }

.booth-2 .car-2 {
  top: 26%;
  left: 28%; }

.booth-1 .brand-1 {
  left: 47%;
  top: 45.7%;
  width: 5%; }

.booth-1 .brand-2 {
  left: 65.2%;
  top: 18%;
  width: 6%; }

.booth-1 .booth-tv-1 {
  top: 15.6%;
  left: 32.8%;
  width: 16.2%; }
  .booth-1 .booth-tv-1:before {
    padding-top: 53.44%; }

.booth-1 .car-1 {
  width: 16.5%;
  top: 36%;
  z-index: 1;
  right: 18%;
  right: 32%;
  top: 22%; }

body > main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

body > main > div:nth-child(1) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

body > main > div:nth-child(6) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

body > main > div:nth-child(2) {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

body > main > div:nth-child(3) {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }

body > main > div:nth-child(4) {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5; }

body > main > div:nth-child(5) {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6; }

body > main > div:nth-child(7) {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7; }

body > main > div:nth-child(8) {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8; }

body > main > div:nth-child(9) {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9; }

body > main > div:nth-child(10) {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10; }

.platform-hall.hall-elegant .hall-logo {
  top: 77.5%; }

.platform-hall.hall-elegant .cinema {
  top: 20.65%;
  left: 50%;
  width: 14.7%;
  margin-left: -7.35%; }

.platform-hall.hall-elegant .booth {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat; }

.platform-hall.hall-elegant .booth-car {
  bottom: 28%;
  left: 34%;
  top: auto;
  width: 36%; }
  .platform-hall.hall-elegant .booth-car:before {
    padding-top: 50%; }

.platform-hall.hall-elegant .booth-logo {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  top: 0; }

.platform-hall.hall-elegant .booth-tv {
  top: auto;
  width: 22.4%;
  bottom: 57%;
  left: 69.5%;
  top: auto; }
  .platform-hall.hall-elegant .booth-tv:before {
    padding-top: 51.5%; }

.platform-hall.hall-elegant .booth-left,
.platform-hall.hall-elegant .booth-right {
  width: 21.5%;
  height: 12%; }

.platform-hall.hall-elegant .booth-right .booth-tv {
  left: 59%; }

.platform-hall.hall-elegant .booth-right .booth-car {
  left: 23%; }

.platform-hall.hall-elegant .booth-1,
.platform-hall.hall-elegant .booth-2 {
  bottom: 15%; }

.platform-hall.hall-elegant .booth-1 {
  right: 70%;
  left: auto; }

.platform-hall.hall-elegant .booth-2 {
  left: 70%;
  right: auto; }

.platform-hall.hall-elegant .booth-3,
.platform-hall.hall-elegant .booth-4 {
  bottom: 26.5%;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95); }

.platform-hall.hall-elegant .booth-3 {
  right: 51%; }

.platform-hall.hall-elegant .booth-4 {
  left: 51%; }

.platform-hall.hall-elegant .booth-5,
.platform-hall.hall-elegant .booth-6 {
  bottom: 34%;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

.platform-hall.hall-elegant .booth-5 {
  right: 73%; }

.platform-hall.hall-elegant .booth-6 {
  left: 73%; }

.platform-hall.hall-elegant .booth-7,
.platform-hall.hall-elegant .booth-8 {
  bottom: 43.5%;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85); }

.platform-hall.hall-elegant .booth-7 {
  right: 51%; }

.platform-hall.hall-elegant .booth-8 {
  left: 51%; }

.platform-hall.hall-elegant .booth-logo {
  background-color: transparent;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 6%;
  width: 12%;
  top: auto;
  bottom: 27%;
  right: auto;
  left: auto; }
  .platform-hall.hall-elegant .booth-logo:before {
    display: none; }
  .platform-hall.hall-elegant .booth-logo > img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    position: static;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

.platform-hall.hall-elegant .booth-logo-1 {
  right: 75%; }

.platform-hall.hall-elegant .booth-logo-2 {
  left: 75%; }

.platform-hall.hall-elegant .booth-logo-3,
.platform-hall.hall-elegant .booth-logo-4 {
  bottom: 38.2%; }

.platform-hall.hall-elegant .booth-logo-3 {
  right: 56%; }

.platform-hall.hall-elegant .booth-logo-4 {
  left: 56%; }

.platform-hall.hall-elegant .booth-logo-5,
.platform-hall.hall-elegant .booth-logo-6 {
  bottom: 45.4%; }

.platform-hall.hall-elegant .booth-logo-5 {
  right: 77.5%; }

.platform-hall.hall-elegant .booth-logo-6 {
  left: 77.5%; }

.platform-hall.hall-elegant .booth-logo-7,
.platform-hall.hall-elegant .booth-logo-8 {
  bottom: 54.6%; }

.platform-hall.hall-elegant .booth-logo-7 {
  right: 56%; }

.platform-hall.hall-elegant .booth-logo-8 {
  left: 56%; }

.platform-hall.hall-elegant .booth-rep {
  color: transparent;
  font-size: 0;
  width: 3%;
  height: 6%;
  position: absolute;
  bottom: 10%; }
  .platform-hall.hall-elegant .booth-rep > img {
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.platform-hall.hall-elegant .booth-rep-1,
.platform-hall.hall-elegant .booth-rep-2 {
  bottom: 16%; }

.platform-hall.hall-elegant .booth-rep-1 {
  left: 12%; }

.platform-hall.hall-elegant .booth-rep-2 {
  right: 25%; }

.platform-hall.hall-elegant .booth-rep-3,
.platform-hall.hall-elegant .booth-rep-4 {
  bottom: 28%;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95); }

.platform-hall.hall-elegant .booth-rep-3 {
  right: 65%; }

.platform-hall.hall-elegant .booth-rep-4 {
  left: 60%; }

.platform-hall.hall-elegant .booth-rep-5,
.platform-hall.hall-elegant .booth-rep-6 {
  bottom: 36%;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

.platform-hall.hall-elegant .booth-rep-5 {
  left: 20%; }

.platform-hall.hall-elegant .booth-rep-6 {
  right: 20%; }

.platform-hall.hall-elegant .booth-rep-7,
.platform-hall.hall-elegant .booth-rep-8 {
  bottom: 46%;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85); }

.platform-hall.hall-elegant .booth-rep-7 {
  right: 63%; }

.platform-hall.hall-elegant .booth-rep-8 {
  left: 65%; }

.jotform-form .form-section {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 14px; }

.jotform-form [data-type="control_image"] img {
  display: block;
  width: 100%;
  height: auto; }

.jotform-form .form-line-error,
.jotform-form .form-error-message {
  color: #dc3545; }

.jotform-form .form-error-message {
  font-size: 12px;
  margin-top: 4px; }

.jotform-form .form-error-message img,
.jotform-form .form-error-message .form-error-arrow {
  display: none; }

.jotform-form .form-label {
  display: block;
  font-weight: 500;
  margin-bottom: 4px; }

.jotform-form [data-type="control_text"],
.jotform-form [data-type="control_textbox"],
.jotform-form [data-type="control_dropdown"],
.jotform-form [data-type="control_widget"],
.jotform-form [data-type="control_button"] {
  margin: 16px 24px; }

.jotform-form [data-type="control_text"] * {
  font-size: 10px !important;
  line-height: 16px !important; }

.jotform-form [data-type="control_button"] * {
  text-align: left !important; }

.jotform-form [data-type="control_button"] .form-submit-button {
  color: #fff;
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding: 8px 24px;
  margin: 8px 0;
  min-width: 30%;
  text-align: center !important;
  text-transform: uppercase;
  vertical-align: top; }

.jotform-form .form-textbox,
.jotform-form .form-dropdown {
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 16px;
  width: 100% !important;
  color: #343a40; }

.jotform-form .form-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 14px top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%; }
